#filter-system {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 1200px;
    background-repeat: no-repeat;
  }

.stars-button {
  margin-bottom: 10px;
  background: rgb(221, 221, 221);
  border: 1px solid rgb(136, 136, 136);
}

  .stars {
    width: 20px;
    height: 20px;
    margin: 3px 2.5px 3px 2.5px;
  }
  
  #stars-filter {
    display: flex;
    flex-direction: column;
  }
  
  .icon-class {
    width: 30px;
    height: 30px;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    border: none;
    box-sizing: border-box;
  }

  .container-class-filter {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1px;
    margin-bottom: 5px;
  }

.container-class-filter > * {
  margin: 5px 10px;
}

.container-rank-filter > * {
  margin: 5px 7px;
}
  
.container-rank-filter {
  margin-bottom: 5px;
}
  .rank-button {
    background: rgb(221, 221, 221);
    border: 1px solid rgb(136, 136, 136);
    width: 40px;
    height: 40px;
    font-size: 1.1em;
    color: rgba(33, 33, 33, 0.9);
  }

.container-button {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(136, 136, 136);
  background: rgb(221, 221, 221);
}

.immunity-icon {
  width: 30px;
  height: 30px;
}

#reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(85, 85, 85);
  width: 1200px;
  color: rgb(221, 221, 221);
  font-size: 28px;
}

.disabled-science {
  background: url("/assets/class-grey/science-grey.svg")
}

.disabled-skill {
  background: url("/assets/class-grey/skill-grey.svg")
}

.disabled-mutant {
  background: url("/assets/class-grey/mutant-grey.svg")
}

.disabled-tech {
  background: url("/assets/class-grey/tech-grey.svg")
}

.disabled-cosmic {
  background: url("/assets/class-grey/cosmic-grey.svg")
}

.disabled-mystic {
  background: url("/assets/class-grey/mystic-grey.svg")
}

.actived-science {
  background: url("/assets/class/science.svg")
}

.actived-skill {
  background: url("/assets/class/skill.svg")
}

.actived-mutant {
  background: url("/assets/class/mutant.svg")
}

.actived-tech {
  background: url("/assets/class/tech.svg")
}

.actived-cosmic {
  background: url("/assets/class/cosmic.svg")
}

.actived-mystic {
  background: url("/assets/class/mystic.svg")
}
