#filter-system {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 1200px;
    background-repeat: no-repeat;
  }

.stars-button {
  margin-bottom: 10px;
  background: rgb(221, 221, 221);
  border: 1px solid rgb(136, 136, 136);
}

  .stars {
    width: 20px;
    height: 20px;
    margin: 3px 2.5px 3px 2.5px;
  }
  
  #stars-filter {
    display: flex;
    flex-direction: column;
  }
  


  .container-class-filter {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1px;
    margin-bottom: 5px;
  }

.container-class-filter > * {
  margin: 5px 10px;
}

.container-rank-filter > * {
  margin: 5px 7px;
}
  
.container-rank-filter {
  margin-bottom: 5px;
}
  .rank-button {
    background: rgb(221, 221, 221);
    border: 1px solid rgb(136, 136, 136);
    width: 30px;
    height: 30px;
    font-size: 1.1em;
    color: rgba(33, 33, 33, 0.9);
  }

.container-button {
  padding: 1px;
  background: rgb(221, 221, 221);
}

.background-button {
  padding: 1px;
  background: rgba(33, 33, 33, 0.9);
}

.border-button {
  box-shadow: rgb(68 68 68) 3px 3px 4px -2px; 
  border: 1px solid rgb(136, 136, 136);
}

.immunity-icon {
  width: 30px;
  height: 30px;
}

#reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(85, 85, 85);
  width: 1200px;
  color: rgb(221, 221, 221);
  font-size: 28px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}
.disabled-science {
  background: url("/assets/class-grey/science-grey.svg")
}

.disabled-virtuose {
  background: url("/assets/class-grey/skill-grey.svg")
}

.disabled-mutant {
  background: url("/assets/class-grey/mutant-grey.svg")
}

.disabled-tech {
  background: url("/assets/class-grey/tech-grey.svg")
}

.disabled-cosmique {
  background: url("/assets/class-grey/cosmic-grey.svg")
}

.disabled-mystique {
  background: url("/assets/class-grey/mystic-grey.svg")
}

.actived-science {
  background: url("/assets/class/science.svg")
}

.actived-virtuose {
  background: url("/assets/class/skill.svg")
}

.actived-mutant {
  background: url("/assets/class/mutant.svg")
}

.actived-tech {
  background: url("/assets/class/tech.svg")
}

.actived-cosmique {
  background: url("/assets/class/cosmic.svg")
}

.actived-mystique {
  background: url("/assets/class/mystic.svg")
}

.disabled-bleed {
  background: url("/assets/immunity-grey/saignement.png");
}
.disabled-poison {
  background: url("/assets/immunity-grey/poison.png");
}
.disabled-incineration {
  background: url("/assets/immunity-grey/incinération.png");
}
.disabled-decharge {
  background: url("/assets/immunity-grey/décharge.png");
}
.disabled-bloc-soin {
  background: url("/assets/immunity-grey/bloc-soin.png");
}
.disabled-brise-armure {
  background: url("/assets/immunity-grey/brise-armure.png");
}
.disabled-chancellement {
  background: url("/assets/immunity-grey/chancellement.png");
}
.disabled-controles {
  background: url("/assets/immunity-grey/controles-inverses.png");
}
.disabled-desorienter {
  background: url("/assets/immunity-grey/desorienter.png");
}
.disabled-ralentissement {
  background: url("/assets/immunity-grey/ralentissement.png");
}
.disabled-coldsnap {
  background: url("/assets/immunity-grey/vague-de-froid.png");
}